<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guesthouse.shared.db.term.mapper.UserTermAgreementCommandMapper">

    <insert id="insertUserTermAgreements">
        INSERT INTO user_term_agreements (
            user_id,
            term_id,
            agreed_at,
            term_version_snapshot
        ) VALUES
        <foreach collection="agreements" item="agreement" separator=",">
            (
                #{agreement.userId},
                #{agreement.termId},
                #{agreement.agreedAt},
                #{agreement.termVersionSnapshot}
            )
        </foreach>
    </insert>
</mapper>
